#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 15rem;
  
  @include respond(phone) {
    -webkit-clip-path: none;
    clip-path: none;
    padding-bottom: 8rem;
  }

  .section-title {
    color: $white-color;
  }

  .about-wrapper {
    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      
      img {
        max-width: 350px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      }
    }

    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      padding-left: 2rem;
      
      @include respond(phone) {
        padding-left: 0;
        margin-top: 3rem;
        text-align: center;
      }

      &-text {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        line-height: 1.8;
      }
    }
  }
  
  .about-skills {
    margin-top: 2rem;
    
    h4 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      opacity: 0.9;
    }
    
    .skill-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      
      @include respond(phone) {
        justify-content: center;
      }
    }
    
    .skill-tag {
      display: inline-block;
      padding: 0.5rem 1.2rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
