#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(
    135deg,
    rgba(2, 170, 176, 0.1) 0%,
    rgba(0, 205, 172, 0.1) 100%
  );
  
  @include respond(phone) {
    padding: 0rem 2rem;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    line-height: 1.3;
    
    @include respond(phone) {
      font-size: 3.5rem;
    }
  }
  
  .hero-subtitle {
    font-size: 2.2rem;
    color: $dark-grey;
    margin-bottom: 4rem;
    text-align: left;
    
    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  .hero-cta {
    display: flex;
    justify-content: flex-start;
    
    a {
      font-size: 2.4rem;
      
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
