#projects {
  background-color: #f8f9fa;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;
  
  @include respond(phone) {
    padding-bottom: 1px;
  }

  .project-wrapper {
    margin-bottom: 15rem;
    
    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;
      align-items: center;
      
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;
      
      @include respond(phone) {
        margin-bottom: 2.5rem !important;
        text-align: center;
      }
      
      &-title {
        font-weight: 700;
        margin-bottom: 1.8rem;
        font-size: 2.5rem;
        
        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      
      @include respond(phone) {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.thumbnail {
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  
  &:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  }
}
