// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 { font-size: $big-font-size; }
h2 { font-size: $mid-font-size; }

.section-title {
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: 700;
  text-transform: uppercase;
  
  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.section-subtitle {
  font-size: 1.8rem;
  color: $dark-grey;
  margin-bottom: 4rem;
}

.dark-blue-text {
  color: $dark-blue-text !important;
}
