// Helper classes
.load-hidden {
  visibility: hidden;
}

.text-color-main {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  &:hover {
    transform: translateX(2px);
  }
}
