// Colors
$primary-color: #02aab0;
$secondary-color: #00cdac;
$white-color: #fff;
$dark-grey: #333;
$light-grey: #d2d2d2;
$dark-blue-text: #272341;

// WeChat theme color
$wechat-color: #07c160;

// Photography section colors
$photo-overlay: rgba(0, 0, 0, 0.7);

// Font sizes
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// Breakpoints
$bp-small: 37.5em;    // 600px
$bp-medium: 56.25em;  // 900px
$bp-large: 80em;      // 1280px
