// CTA Buttons
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  text-decoration: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

.cta-btn--hero {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  border-image-slice: 1;
  cursor: pointer;
  
  &::after {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  }
  
  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;
    
    &::after {
      width: 100%;
    }
  }
}

.cta-btn--resume {
  color: $dark-blue-text;
  border: 2px solid $dark-blue-text;
  
  &::after {
    background: $dark-blue-text;
  }
  
  &:hover {
    color: $white-color;
    text-decoration: none;
    
    &::after {
      width: 100%;
    }
  }
}
